/** roofpig: JS lib for Rubik animation **/
div.roofpig {
    width: 210px;
    max-width: 500px;
    margin: 5px auto;
    margin-bottom: 24px; /* Same as after-paragraph space */
    font-family: inherit !important;
    border: none !important;
    overflow: hidden;
    text-align: center;
}
div.roofpig-algtext {
    text-align: center;
    height: min-content !important;
    padding-left: 2pt;
    padding-right: 2pt;
}
div.roofpig-count {
    display: flex;
    justify-content: center;
    align-items: center;
}
p.roofpig-algo { font-weight: bold; }

/** For same line roofpig**/
div.roofpig.inline {
    display: inline-block;
    margin: 10px 15px 24px;  /* 15px between them horinzontally */
    vertical-align: middle;
}
div.roofpig-inline-container {
    margin: 5px auto;
    text-align: center;
}

/** For recommended roofpig**/
div.roofpig.recommend,
tr:has(div.recommend) {
    background-color: #C9F6C8;
}
/** For multi-angle roofpig **/
div.roofpig.multi-angle,
tr:has(div.multi-angle) {
    background-color: #E2C8F6;
}

/** For tables that display a lot roofpig**/
table div.roofpig {
    max-width: 180px; /* Smaller roofpig in tables*/
    margin: 5px auto;
}

table.roofpig-table {
    width: 100%;
    margin: 20px auto;
    border-collapse: collapse;
}
table.roofpig-table td {
    vertical-align: middle;
    text-align: center;
    padding: 5px;
}
table.roofpig-table p {
    margin-bottom: 5px;
}

/** Control table column widths**/
.rftable_id_str, .rftable_name, .rftable_group {
    width: 10%;
}
