/** Textwidth **/
.wy-nav-content {
    max-width: 95% !important;
}

/** Homepage Searchbox Bk-color **/
.wy-side-nav-search {
    background-color: darkcyan !important;
}

/** Home-button block**/

a.home-button {
    color: white;
    font-weight: bold;
    vertical-align: middle;
}

div.home-button {
    margin-top: 0.8em;
}

/** DataTable CSS Overwritting **/
table.dataTable tbody th,table.dataTable tbody td {
    padding: 4px 5px;
}
