{% extends "!layout.html" %}

{% block sidebartitle %}
{{ super() }}
<div class="home-button">
   <a class="home-button" href="https://github.com/wklchris/blog">
      仓库
   </a>&nbsp;&nbsp;|&nbsp;&nbsp;<a class="home-button" href="/blog/">
      博客主页
   </a>&nbsp;&nbsp;|&nbsp;&nbsp;<a class="home-button" href="/">
      关于我
   </a>
</div>
{% endblock %}

{%- block extrahead %}
{{ super() }}

<link rel="stylesheet" type="text/css" href="_config/static/DataTables/datatables.min.css"/>

<meta name="google-site-verification" content="ZsXR1o8suFFOr_MSgo5BTvjbznAuEP6XYOmgMiBu5Yw" />
<script>
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-90643174-3']);
  _gaq.push(['_trackPageview']);
</script>
{% endblock %}

{% block footer %}
{{ super() }}

<script>
  require.config({
     paths: {
        "jquery": "_static/jquery",
        "datatables": "_config/static/DataTables/datatables.min"
     }
  });
  requirejs( ["datatables"], function () {
     $('#tableofblogs').DataTable( {
        language: {
           url: "_config/static/DataTables/zh_CN.json" 
        } 
     } );
  } );
</script>

<div class="footer">本页面采用 <a href="https://analytics.google.com/">Google Analytics</a> 来记录访问数据. 您可以通过屏蔽来自 www.google-analytics.com 的 JavaScript 来阻止该记录行为.
<script>
  (function() {
    var ga = document.createElement('script');
    ga.src = ('https:' == document.location.protocol ?
              'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    ga.setAttribute('async', 'true');
    document.documentElement.firstChild.appendChild(ga);
  })();
</script>
</div>

{% endblock %}