/** roofpig: JS lib for Rubik animation **/
div.roofpig {
    width: 210px;
    max-width: 500px;
    margin: 5px auto;
    margin-bottom: 24px; /* Same as after-paragraph space */
    font-family: inherit !important;
    border: none !important;
    overflow: hidden;
    text-align: center;
}
div.roof-algtext, div.roofpig-algtext { text-align: center; }
div.roofpig-count {
    display: flex;
    justify-content: center;
    align-items: center;
}

/** For same line roofpig**/
div.roofpig.inline {
    display: inline-block;
    margin: 10px 15px 24px;  /* 15px between them horinzontally */
}
div.roofpig-inline-container {
    margin: 5px auto;
    text-align: center;
}

/** For recommended roofpig**/
div.roofpig.recommend {
    background-color: #C9F6C8;
}