:root {
    --hl-padding: 1pt;
}

/** Textwidth **/
.wy-nav-content {
    max-width: 95% !important;
}

/** Home-button block**/

a.home-button {
    color: white;
    font-weight: bold;
    vertical-align: middle;
}

div.home-button {
    margin-top: 0.8em;
}

/** Customized RST roles **/

span.box { border: 1pt solid; padding: 1pt; }
span.strike { text-decoration: line-through; }
span.uline { text-decoration: underline; }
span.underover { text-decoration: dashed underline overline; }

span.xsmall { font-size: x-small; }

/**
Inline highlighting mimicking admonitions (not exact same color).
**/
span.hlred { background-color: lightpink; padding: var(--hl-padding); }
span.hlyellow { background-color: lightyellow; padding: var(--hl-padding); }
span.hlgreen { background-color: lightgreen; padding: var(--hl-padding); }
span.hlblue { background-color: lightblue; padding: var(--hl-padding); }
